.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c0e0c;
    padding: 5px;
  }
  
  .header-logo {
    margin-right: 20px;
    background-color: white;
  }
  
  .header-heading {
    text-align: right;
    
  }
  
  .header-heading h3 {
    margin: 0;
    color: white;
    
  }

  .tracking-in-expand{animation:tracking-in-expand 2s cubic-bezier(.215,.61,.355,1.000) both}

@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}