.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c0e0c;
    padding: 5px;
  }
  
  .header-logo {
    margin-right: 20px;
    background-color: white;
  }
  
  .header-heading {
    text-align: right;
    /* margin-left: -27%; */
    
  }
  
  .header-heading h3 {
    margin: 0;
    color: white;
    
  }
  .header-links {
    font-weight: 700;
  }

  .header-links a {
    margin-left: 40px;
    color: #e3e2e5;
  }
  
  .header-links a:hover {
    color: #0d6efd;
  }

  .space-between{
    padding-left: 40%;
  }

  a {
    text-decoration: none;
    font-size: large;
  }

  .header-logout {
    float: right;
    
  }
  
  .header-logout button {
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  


  .tracking-in-expand{animation:tracking-in-expand 2s cubic-bezier(.215,.61,.355,1.000) both}

@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}
