.parent-container {
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }

  th,td {
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

table.roundedCorners thead {
  background-color: bisque;
}

  table.roundedCorners { 
  border: 1px solid DarkOrange;
  border-radius: 13px; 
  border-spacing: 0;
  }
table.roundedCorners td, 
table.roundedCorners th { 
  border-bottom: 1px solid DarkOrange;
  padding: 10px; 
  }
table.roundedCorners tr:last-child > td {
  border-bottom: none;
}

button.excel-extract,
button.json-extract,
.CSVLink.csv-extract {
  background-color: #e8e82c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.excel-extract:hover,
button.json-extract:hover,
.CSVLink.csv-extract:hover {
  background-color: #0062cc;
}

button.excel-extract:focus,
button.json-extract:focus,
.CSVLink.csv-extract:focus {
  outline: none;
  box-shadow: none;
}

button.excel-extract:not(:last-child),
button.json-extract:not(:last-child),
.CSVLink.csv-extract:not(:last-child) {
  margin-right: 10px;
}

.icon-wrapper {
  display: inline-block;
  margin-right: 10px;
  font-size: 1.5rem;
  color: #007bff;
  cursor: pointer;
}

.download-container {
  display: flex;
  align-items: center;
}

.download-header {
  margin-right: 10px;
  font-size: 1.5rem;
  align-self: center;
}

.icon-wrapper {
  margin: 0 10px;
  font-size: 3.5rem;
  color: #007bff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.icon-wrapper:hover {
  color: #0056b3;
}

  
input[type="checkbox"]:checked + label {
  color: #000; /* change the text color */
  font-weight: bold; /* make the text bold */
  background-color: #ddd; /* change the background color */
  border-radius: 3px; /* add rounded corners */
  padding: 3px 8px; /* add some padding */
}

.download-options{
  display: flex;
  justify-content: center;
  align-items: center;
}

